
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
script(type='text/javascript', src='/javascript/jquery.js')
script(type='text/javascript', src='/javascript/bootstrap.js')
